.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
}

.wrapper {
    font-family: $open;
}

.main-btn {
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    box-sizing: border-box;
    color: $color;
    background-color: #fff;
    font-family: $open;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
    }
    &.blue-color {
        background-color: $blue;
        color: #fff;
    }
    &.red-color {
        background-color: $red;
        color: #fff;
    }
}

.burger-btn {
    height: 30px;
    width: 40px;
    box-sizing: border-box;
    padding: 2.5px 4px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        right: 4px;
        top: 2.5px;
        width: calc(100% - 8px);
        background-color: #000;
        height: 3px;
       border-radius: 3px;
       opacity: .65;
       transition: .35s ease;
    }
    &::after {
        content: '';
        position: absolute;
        right: 4px;
        bottom: 3px;
        width: calc(50% - 8px);
        background-color: #000;
        height: 3px;
       border-radius: 3px;
       opacity: .65;
       transition: .35s ease;
    }
    span {
        position: absolute;
        right: 4px;
        top: calc(50% - 2px);
        width: calc(75% - 8px);
        height: 3px;
       border-radius: 3px;
        background-color: #000;
        opacity: .65;
        transition: .35s ease;
    }
    &.active {
        span {
            opacity: 0;
        }

        &::before {
            transform: rotate(45deg);
            left: 3px;
            top: 12px;
        }
        &::after {
            transform: rotate(-45deg);
            width: calc(100% - 8px);
            top: 12px;
            left: 3px;
        }
    }
}

.section-title {
    text-align: center;
    font-family: $open;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    color: $color;
    margin: 0;
    margin-bottom: 20px;
    span {
        display: block;
        font-weight: 600;
        color: $blue;
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: #091841be #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #091841be;
    border-radius: 7px;
    border: 3px solid #ffffff;
}

body.hidden {
    overflow: hidden;
}