.footer {
    background-color: $color;
    color: #fff;
    padding: 40px 0;
    box-sizing: border-box;
    // .footer_row

    &__row {
        display: flex;
        align-items: flex-start;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);;
        margin-bottom: 25px;
    }

    // .footer__col

    &__col {
        &:last-child {
            margin-right: 0;
            text-align: right;
        }
        .action {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            >p {
                margin: 0;
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 26px;
                font-weight: 600;
            } 
            a {
                display: block;
                font-weight: 400;
                text-decoration: none;
                opacity: .75;
                transition: .35s ease;
                &:hover {
                    opacity: 1;
                }
                font-size: 20px;
                line-height: 1.3;
                color: #fff;
                margin-bottom: 35px;
            }
            button {
                padding: 18px 40px;
                box-sizing: border-box;
                font-size: 18px;
                font-weight: 600;
            }
        }
        .social {
            >p {
                margin: 0;
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 26px;
                font-weight: 600;
            }
            .list {
                display: flex;
                align-items: center;
                a {
                    width: 45px;
                    height: 45px;
                    box-sizing: border-box;
                    padding: 12px;
                    background-color: #0E2769;
                    border-radius: 50%;
                    min-width: 45px;
                    display: flex;
                    align-items: center;
                    transition: .35s ease;
                    justify-content: center;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        max-width: 100%;
                        transition: .35s ease;
                    }
                    &:hover {
                        background-color: #102d7c;
                        img {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
        margin-right: 80px;
        &:last-child {
            margin-left: auto;
        }
        ul {
            max-width: 190px;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 10px;
                &:last-child {margin-bottom: 0;}
                a {
                    text-decoration: none;
                    color: #fff;
                    opacity: .75;
                    transition: .35s ease;
                    padding: 5px 0;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            p {
                margin: 0;
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 26px;
                font-weight: 600;
            }
        }
    }

    // .footer__copy

    &__copy {
        span {
            display: block;
            text-align: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.3;
            color: #fff;
            opacity: .75;
        }
    }
}

@media(max-width:1200px) {
    .footer {
        &__col {
            margin-right: 40px;
        }
    }
}
@media(max-width:920px) {
    .footer {
        &__copy {
            span {
                text-align: left;
            }
        }
        &__row {
            flex-direction: column;
            align-items: flex-start;
        }
        &__col {
            margin: 0 0 35px;
            &:last-child {
                margin: 0 0;
                .action {
                    align-items: flex-start;
                    text-align: left;
                }
            }
        }
    }
}